.container {
    margin-top: 10vh;
    padding-bottom: 50vh;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    @apply prose prose-lg  prose-slate prose-blockquote:editor-blockquote prose-code:whitespace-pre-wrap prose-hr:h-[1px];
}

.codeGray {
    color: #6b7280;
}

.codeOrange {
    color: #f97316;
}

.codeLime {
    color: #84cc16;
}

.codeGradient {
    background-clip: text !important;
    -webkit-text-fill-color: transparent;
}

.codeGradientSky {
    caret-color: #06b6d4;
    background: linear-gradient(90deg, #7dd3fc, #0891b2);
}

.codeGradientSkyReverse {
    caret-color: #06b6d4;
    background: linear-gradient(90deg, #0891b2, #7dd3fc);
}

.codeGradientYellow {
    caret-color: #eab308;
    background: linear-gradient(90deg, #fde047, #ca8a04);
}

.codeGradientYellowReverse {
    caret-color: #eab308;
    background: linear-gradient(90deg, #ca8a04, #fde047);
}

.codeGradientPink {
    caret-color: #ec4899;
    background: linear-gradient(90deg, #f9a8d4, #db2777);
}

.codeGradientPinkReverse {
    caret-color: #ec4899;
    background: linear-gradient(90deg, #db2777, #f9a8d4);
}

.focusBorder {
    position: relative;
    overflow: visible;
}

.focusBorder::before {
    content: "";
    position: absolute;
    top: 0px;
    left: -20px;
    width: 0.25rem;
    height: 100%;
    background-color: #e2e8f0;
}

.bubbleMenu {
    @apply drop-shadow;
    background-color: white;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    height: 3rem;
}

.bubbleMenuButton {
    height: 100%;
    padding: 0.875rem;
    stroke-width: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bubbleMenuButton:hover {
    background-color: #f8fafc;
}

.floatingMenu {
    width: 0px;
    height: 0px;
    position: relative;
    left: -90px;
    top: -23px
}

.floatingMenuButton {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.2rem;
    border-width: 2px;
    border-radius: 9999px;
}

.floatingMenuContent {
    @apply drop-shadow;
    position: absolute;
    left: 3.5rem;
    top: 0px;
    width: 14rem;
    transform-origin: top right;
    border-radius: 0.3rem;
    background-color: white;
}

.floatingMenuItem {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    cursor: pointer;
    column-gap: 0.5rem;
    display: flex;
    align-items: center
}

.floatingMenuItem:hover {
    background-color: #f1f5f9;
}