@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hidden-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hidden-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .not-quote {
    quotes: none;
  }
  .editor-blockquote {
    @apply text-base not-quote not-italic font-normal px-6 py-3 bg-slate-100 rounded-lg border-none;
  }
}

.ProseMirror blockquote {
  @apply editor-blockquote
}